h1{color: aqua;text-align: center;font-size:60px;font-family:Trattatello, fantasy }
a{font-family:Snell Roundhand, cursive ;
font-size: 20px;}
p{font-family:Brush Script MT, Brush Script Std, cursive ;}

img{width: 300px;
height:400px }
h3{color: blueviolet;font-size:30px; ;}
h2{text-align: center;color: rgb(41, 12, 145);font-size:40px ; font-family:Bradley Hand, cursive ;  }
